//*****************************************************************************
//
//! \file sdcard_config.h
//! \brief SDCard SPI Interface Config
//! \version V2.1.1.0
//! \date 11/15/2011
//! \author CooCox
//! \copy
//!
//! Copyright (c)  2011, CooCox 
//! All rights reserved.
//! 
//! Redistribution and use in source and binary forms, with or without 
//! modification, are permitted provided that the following conditions 
//! are met: 
//! 
//!     * Redistributions of source code must retain the above copyright 
//! notice, this list of conditions and the following disclaimer. 
//!     * Redistributions in binary form must reproduce the above copyright
//! notice, this list of conditions and the following disclaimer in the
//! documentation and/or other materials provided with the distribution. 
//!     * Neither the name of the <ORGANIZATION> nor the names of its 
//! contributors may be used to endorse or promote products derived 
//! from this software without specific prior written permission. 
//! 
//! THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
//! AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
//! IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
//! ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE 
//! LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
//! CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
//! SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
//! INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
//! CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
//! ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF 
//! THE POSSIBILITY OF SUCH DAMAGE.
//
//*****************************************************************************
#ifndef __SDCARD_CONFIG_H__
#define __SDCARD_CONFIG_H__

//*****************************************************************************
//
//! \addtogroup SDCard
//! @{
//
//*****************************************************************************


//*****************************************************************************
//
//! \addtogroup SDCard_Config Invoker Configurtion
//!
//! \brief Configurtions such as the GPIO Pin used should be set before using
//! this driver.
//!    
//! @{
//
//*****************************************************************************

//
//! if enable CRC
//
#define SD_CRC_EN               0

//
//! if enable multi block read function
//
#define SD_READ_MULTI_BLOCK_EN  1

//
//! if enable multi block write function
//
#define SD_WRITE_MULTI_BLOCK_EN 1

//
//! if enable block erase function
//
#define SD_ERASE_BLOCK_EN       1

//
//! SD Card Power Pin
//
#define SD_PIN_POWER            sD0

//
//! SD Card Power Pin Active State
//
#define SD_PIN_POWER_ACTIVE     0

//
//! SD Card Pin1 - CS(Chip Select (active low))
//
#define SD_PIN_CS               sD4

//
//! SD Card Pin2 - DataIn(Host-to-card Commands and Data)
//
#define SD_PIN_DATAIN           sICSP_4_MOSI

//
//! SD Card Pin5 - CLK(Clock)
//
#define SD_PIN_CLK              sICSP_3_SCK

//
//! SD Card Pin7 - DataOut(Card-to-host Data and Status)
//
#define SD_PIN_DATAOUT          sICSP_1_MISO

//
//! SD SPI max(normal) clock freq
//
#define SD_SPI_CLOCK            1000000

//
//! SD Card Host SPI Port
//
#define SD_HOST_SPI_PORT        sICSP_SPI_BASE
#define SD_HOST_SPI_PIN_CLK     SPI0CLK
#define SD_HOST_SPI_PIN_MOSI    SPI0MOSI
#define SD_HOST_SPI_PIN_MISO    SPI0MISO

//*****************************************************************************
//
//! @}
//
//*****************************************************************************

//*****************************************************************************
//
//! @}
//
//*****************************************************************************

#endif